html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Layout for the entire site and its components*/
.grid-container {
  /* grid is a responsive and flexible layout*/
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  /* grid-area header is connecting header to grid-template=area header */
  grid-area: header;
  background-color: #8fbc8f;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #8fbc8f;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*Common classes*/
a {
  text-decoration: none;
}

a:hover {
  color: #d3d3d3;
}

header a {
  color: #ffff;
  padding: 1rem;
}

a.brand {
  color: #ffff;
  font-size: 3rem;
  font-weight: bold;
}

.row.center {
  justify-content: center;
}
